$text-сolor: #2C2D35;
$main-text-color: #86928B;
$primary-color: #E1EDE6;
$secondary-color: #598D66;
$background-color: #ffff;
$text-hover-color: $primary-color;
$default-border: 2px solid $secondary-color;